# E.g., first-stage boot loader
*.elf
# SWUpdate files
*.swu
# Config image
config/
config.img

# Python runtime cache
*.pyc

# Mypy cache
.mypy_cache

# Work-in-progress and experiments
experimental_console.py
stress.sh

# IDE settings
/.vscode